<p id="notice"><%= notice %></p>

<p>
  <strong>Writer:</strong>
  <%= @author.writer %>
</p>

<p>
  <strong>Books:</strong>
  <%= @author.books %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
