<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.catename %>
</p>

<p>
  <strong>Books:</strong>
  <%= @category.books.title %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
